<!doctype html>
<html class="no-js" <% if (includeCache) { %>manifest="cache.manifest" <% } %>>
  <head>
    <meta charset="utf-8">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="shortcut icon" href="/favicon.ico">
    <% if (includeCache) { %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <% } %>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild --><% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } %>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">我是title</div>
    <div class="nav">
      <div class="nav-tab">a</div>
      <div class="nav-tab">b</div>
    </div>
    <div class="container">
      <div class="container-tab -active">
        <div class="hero-unit" id="zmod-a" data-zmod="zmod-a">
          <h1>我是a</h1>
          <p>You now have</p>
          <ul>
            <li>HTML5 Boilerplate</li>
            <% if (includeModernizr) { %><li>Modernizr</li><% } %>
          </ul>
        </div>
      </div>
      <div class="container-tab">
       <div class="hero-unit" id="zmod-b" data-zmod="zmod-b">
          <h1>我是b</h1>
          <p>You now have</p>
          <ul>
            <% if (includeModernizr) { %><li>Modernizr</li><% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      我是footer
    </div>
    <div class="float_view"></div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
     </body>
</html>
